.card {
    width: 100px;
    height: auto;
    margin: 5px;
    img.card-open {
        width: 100%;
    }
    img.card-closed {
        width: 100%;
    }
}
.button{
    color: black;
    
    li{
    text-decoration: none;
    width: 50px;
    margin-left: 10rem;
    list-style: none;
    color: black;
    }
    
}